.navbar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    


}

.imagem_logo-nav{
    width: 20%    
    
}

.lista-navbar {
    display: flex;
        
}

li{
    font-size: 1rem;
    padding-left: 4em;
    color: var(--gray600);
    
}